<table class="table table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>التاريخ</th>
      <th>م</th>
      <th>الخزينة</th>
      <th>التداول</th>
      <th>المدفوع</th>
      <th>الخصم</th>
      <th>الضريبة</th>
      <th>الإجمالى</th>
      <th>المستخدم</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'document', collection: @documents, as: :document %>
  </tbody>
</table>
