<% if (can? :add_purchase, Document) %>
  <%= link_to 'Add New', add_purchase_documents_path,class: "btn btn-primary" %>
  <hr>
<% end %>

<%= render 'index' %>

<% if (can? :add_purchase, Document) %>
  <div class="card-footer">
    <%= link_to 'Add New', add_purchase_documents_path,class: "btn btn-primary" %>
  </div>
<% end %>
