<% if (can? :add_returned_sale, Document) %>
  <%= link_to 'Add New', add_returned_sale_documents_path,class: "btn btn-primary" %>
  <hr>
<% end %>

<%= render 'index' %>

<% if (can? :add_returned_sale, Document) %>
  <div class="card-footer">
    <%= link_to 'Add New', add_returned_sale_documents_path,class: "btn btn-primary" %>
  </div>
<% end %>
