<% if (can? :add_selling_futures, Document) %>
  <%= link_to 'Add New', add_selling_futures_documents_path,class: "btn btn-primary" %>
  <hr>
<% end %>

<%= render 'shared_doc/index' %>

<% if (can? :add_selling_futures, Document) %>
  <div class="card-footer">
    <%= link_to 'Add New', add_selling_futures_documents_path,class: "btn btn-primary" %>
  </div>
<% end %>
