default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: Moneroz
  username: your_user_name
  password: your_password

production:
  <<: *default
  database: Moneroz_production
  username: user
  password: <%= ENV['MONEROZ_DATABASE_PASSWORD'] %>
