.notice{
  margin: 10px 5px 10px 5px;
}
.login-box{
  min-height: 450px !important;
}
.form-control{
  padding: 5px 12px !important;
}
.lock-color{
  background-color: #d5ffc7 !important;
}
.alerm-text{
  color: #FF4500 !important;
  font-weight: bold !important;
}
