body {font-family: 'El Messiri', sans-serif;}

p {margin: 0 0 10px;line-height: 2;font-size: 14px;}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
    }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: right;}
  }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
    } }

.dropdown-menu {
    float: right; }

.btn-group > .btn,
.btn-group-vertical > .btn {
    float: right; }

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}

.btn-group > .btn-group {
  float: right;
}

.input-group .form-control {
    float: right; }

.nav-tabs > li {
  float: right;
    margin-bottom: -1px; }

.nav-pills > li {
  float: right;
}

@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}

.navbar-brand {
    float: right;}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    }}
  .navbar-nav > li {
    float: right;
  }

@media (min-width: 768px) {
  .navbar-text {
    float: right;

  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.pagination > li > a,
.pagination > li > span {
  float: right;

}

.pager .previous > a,
.pager .previous > span {
  float: right;
}

.progress-bar {
    float: right; }

.datepicker table tr td span {
    float: right; }

.datepicker.dropdown-menu {
    float: right;}

.select2-container .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: right;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    float: right;}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right;}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: right;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    float: right;}

.fc .fc-button-group > * {
  /* extra precedence b/c buttons have margin set to zero */
  float: right;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
  float: right;
}

.fc-toolbar .fc-left {
  float: left;
}

.fc-toolbar .fc-right {
  float: right;
}

.fc .fc-toolbar > * > * {
  /* extra precedence to override button border margins */
  float: right;
}

.main-header .sidebar-toggle {
    float: right; }

.main-header .logo {
    float: right; }

.main-sidebar {
    right: 0;
    }

.page-title {
  margin-left: -95px;
margin-right: 0;
margin-bottom: 30px;
padding: 20px 30px;
text-align: right;
    }

.main-header > .navbar {
    margin-left: 0px; }

.main-header .top-nav {
    padding-left: 0;
    float: left;
    margin-left: 67px; }

.card {text-align: right;padding: 34px}

.cards {margin-right: 40px;}


@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px !important;
      margin-right: 0;
    z-index: 840;
  }

.fixed .content-wrapper {
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 0;}

.sidebar .user-panel > .info > .designation {
    font-size: 13px;
    margin-top: -13px !important; }

.sidebar .user-panel > .info {
    text-align: right;
    padding: 0px 5px 5px 15px;
    left:28px;
    }

.pull-left {float: right !important;}
.pull-right {float: left !important;}

.sidebar-menu > li > a > .fa {
    width: 25px;
    float: right; }

.sidebar-menu > li > a {
    text-align: right;
}

.sidebar-menu li > a > .fa-angle-right {
    left: 0; }

.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    padding-left: 20px;
    float: none;
    margin-right: 10px;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.sidebar-menu .treeview-menu > li > a > i:first-of-type {
    margin-right: 5px;
    float: right;
}


.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
    position: relative;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding:15px; padding-bottom:20px;}

.card .card-title {
    padding-right: 20px;
    }

legend {
    padding-right: 20px;}


.form-horizontal .form-group {
    padding-right: 20px;}

.form-control {
    text-align: right;}

.breadcrumb > li {
    float: right;}

.fa-home {padding-left: 10px;}
.breadcrumb > li > a {
    text-align: right;}
.breadcrumb > li {
    text-align: right;}

.lockscreen-content .lock-box label {
    text-align: right;
    margin: auto;
    display: block;}

.login-p {float: right;text-align: right;}
.login-content .login-box .login-form, .login-content .login-box .forget-form {text-align: right;}
.mail-section {padding-right: 50px;}
.cardd-user { width: 70%;}
.card-photo {margin-right: 35px;}
.post-content p {text-align: right;}
.sidebar-menu .treeview-menu > li > a {
    text-align: right; }

@media (min-width: 768px) {
.sidebar-menu .treeview-menu > li > a > i:first-of-type {
    margin-left: 12px;
    float: right;}}}
.row {margin-right: 16px !important;}
.widget-small .info {padding-right: 20px !important;}

.btn-xs {border-radius: 0px;}
th {
  text-align: right;
}
