<%= link_to 'Add New Product', new_product_path, class: "btn btn-primary" %>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>القسم</th>
      <th>الباركود</th>
      <th>اسم الصنف</th>
      <th>الوحدة</th>
      <th>سعر البيع</th>
      <% if current_user.admin? %>
        <th>سعر الشراء</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

<div class="card-footer"><%= link_to 'Add New Product', new_product_path, class: "btn btn-primary" %></div>
