<!DOCTYPE html>
<html>
  <head>
    <title>Moneroz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Moneroz</h1>
      </div>
      <div class="login-box">
        
        <%= yield %>
      </div>
    </section>
  </body>>
</html>
